<h1>login</h1>

<form action="/login" method= "POST">
    
    <div>
        <lable for="name">Name</lable>
        <input type="text" id = "name" name="name" required>
    </div>
    <br>
    <button type="submit">login</button>
</form>
<a href="/register">register</a>