<h1>Register</h1>

<form action="/register" method= "POST">
    <div>
        <lable for="name">Name</lable>
        <input type="text" id="name" name="name" required>
    </div>
    <br>
    <div>
        <lable for="title">title</lable>
        <input type="text" id="title" name="title" required>
    </div>
    <br>
    <button type="submit">register</button>
</form>
<a href="/login">Login</a>